{{ $page := . }}
{{ $params := $page.Params }}
<div class="container">
    <div class="row">
        <div class="col-lg-12 center-text" style="margin-bottom: 40px">
            <h2 class="section-title">{{$params.books.title}}</h2>
        </div>
        {{/* Query */}}
        {{ $query := where .Site.Pages "Type" "book" }}
        {{ range sort $query ".Params.weight" }}
        <div class="col-lg-4">
            <a href="{{ .Permalink }}">
                <div class="card-shadow">
                    <img class="card-background card-left" src="{{ .Params.image }}" />
                    <div class="card-right">
                        <h4 class="section-text-bold mt-4">
                            {{ .Title }}
                        </h4>
                        <div class="card-shadow-content">
                            <p class="section-text">
                                {{ .Description }}
                            </p>
                        </div>
                        <div class="card-tags">
                            {{ range .Params.tags }}
                            <span class="card-badge">{{.}}</span>
                            {{ end }}
                        </div>
                        {{ if and .Params.author .Params.author.title}}
                        <div class="card-author">
                            <span class="author author-logo">
                                <img src="{{ .Params.author.logo }}" />
                            </span>
                            <span class="author author-name">{{.Params.author.title}}</span>
                            <span class="author author-desc">{{.Params.author.description}}</span>
                        </div>
                        {{ end }}
                       

                        <!-- <button class="hero-mid-2 align-self-end">{{$params.books.linkText}}</button> -->
                    </div>

                </div>
            </a>
        </div>
        {{ end }}
    </div>