{{ $page := . }}
{{ $params := $page.Params }}
<div class="body-container">
    <!-- <div class="wave-bg">
        <img src="/images/wave.webp" />
    </div> -->
    <div class="books">
        <div class="page-container">
            <div class="col-lg-12" style="margin-bottom: 30px">
                <h2 class="section-title">{{$params.books.title}}</h2>
            </div>
            <div class="row-body">
                {{/* Query */}}
                {{ $query := where .Site.Pages "Type" "book" }}
                {{ range sort $query ".Params.weight" }}
                <div class="row-container">
                    <div class="row-item">
                    <a href="{{ .Permalink }}" class="row-item-link">
                    </a>
                    <div class="card-shadow">
                        <div class="card-image-cover">
                            <img class="card-image" src="{{ .Params.image }}" />
                        </div>
        
                        <div class="card-mid">
                            <div class="card-title">
                                {{ .Title }}
                            </div>
                            <div class="card-desc">
                                <div class="card-desc-content">
                                    {{ .Description }}
        
                                </div>
                            </div>
                        </div>
                        
                        <div class="card-bottom">
                            <div class="card-tags">
                                <div class="tag-horizontal"></div>
                                {{ range $tag := first 3 .Params.tags }}
                                <span class="card-badge">{{$tag}}</span>
                                {{ end }}
                            </div>
                            {{ if and .Params.author .Params.author.title}}
                            <a href="{{ .Params.author.link }}" class="author-link">
                                <div class="card-author">
                                    <span class="author author-desc">作者：</span>
                                    <span class="author author-logo">
                                        <img src="{{ .Params.author.logo }}" />
                                    </span>
                                    
                                    <span class="author author-name">{{.Params.author.title}}</span>
                                    
                                </div>
                            </a>
                            
                            {{ end }}
        
                            <!-- <button class="hero-mid-2 align-self-end">{{$params.books.linkText}}</button> -->
                        </div>
        
                    </div>
                </div>
                </div>
                {{ end }}
            </div> 
    </div>
</div>
