/*

Add styles or override variables from the theme here.

*/

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");

body {
  font-family: "Lato", sans-serif !important;
  font-weight: 300 !important;
}

$display1-weight: 500 !default;
$display2-weight: 100 !default;

$primary: #1f2a43 !default;
$primary-light: lighten($primary, 90%) !default;
$secondary: #2d70de !default;
$light: rgb(255, 255, 255) !default;
$grey: #888 !default;
$orange: $secondary;
$font-black-color: #212832;

ul,
ol {
  padding-left: 2em;
}

.navbar-logo {
  height: 2em;
}

.nav-shadow {
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.2);
}

.navbar-brand {
  color: black !important;
  margin-left: 40px;
}

#main_navbar {
  margin-left: 90px !important;
}

.d-lg-block {
  margin-left: auto !important;
}

.ml-md-auto {
  margin-left: 0 !important;
}

.navbar-bg-onscroll {
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.2);

  #docsy-top {
    display: block !important;
  }
}

.navbar {
  height: 60px;
}

.control-bar {
  display: none;
}

.td-content pre {
  word-wrap: normal;
  background-color: #f8f9fa;
  padding: 1rem;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.highlight>pre {
  border: 0px;
}

.td-content blockquote {
  border-radius: 0.15rem;
}

.notice.info {
  border-left-color: #6bf;
  background-color: rgba(102, 187, 255, 0.1);
}

.notice.warning {
  border-left-color: #fd6;
  background-color: rgba(255, 221, 102, 0.1);
}

.notice.danger {
  border-left-color: #f66;
  background-color: rgba(255, 102, 102, 0.1);
}

.notice>ul {
  margin-bottom: 0em;
}

#docsy-search {
  background: rgba(190, 185, 185, 0.3);
}

input[type="search"]::placeholder {
  color: #9b9595 !important;
}

.td-box--secondary p>a:hover {
  color: #121314 !important;
}

#community a {
  color: #121314 !important;
}

.showcase img {
  margin: 0 30px;
}

.td-content>h1 {
  font-weight: 700;
}

.td-content>h2 {
  font-weight: 700;
}

.td-content>h3 {
  font-weight: 700;
}

.td-content>h4 {
  font-weight: 700;
}

.td-content>h5 {
  font-weight: 700;
}

.td-content>h6 {
  font-weight: 700;
}

.td-content>h7 {
  font-weight: 700;
}

// Custom CSS for homepage

.hero {
  padding: 20px 0px 25px 0px;
  color: white;
  background: rgb(33, 39, 73);
  background: linear-gradient(130deg, #473782 50%, #2c2c62 70%);
  margin-left: calc(var(--bs-gutter-x) * -0.5);
  margin-right: calc(var(--bs-gutter-x) * -0.5);
  position: relative;
  overflow: hidden;

  .container {
    position: relative;
    z-index: 2;
  }
}

@media (min-width: 992px) {
  .hero {
    padding: 130px 0 100px;
  }

  .hero-banner {
    transform: scale(1.4) translateY(10%);
  }
}

@media (min-width: 1170px) {
  .hero {
    &:before {
      content: "";
      width: 60vw;
      height: 60vw;
      display: block;
      background: linear-gradient(90deg,
          rgba(42, 24, 102, 1) 59%,
          rgba(44, 44, 98, 1) 70%);
      position: absolute;
      left: -20vw;
      top: -20vw;
      transform: rotate(45deg);
      border-radius: 10%;
    }

    &:after {
      content: "";
      width: 20vw;
      height: 100vw;
      display: block;
      background: linear-gradient(-74deg, #2c2c62 50%, #3f3479 70%);
      position: absolute;
      left: 55vw;
      bottom: -40vw;
      z-index: 1;
      transform: rotate(45deg);
    }

    .container {
      position: relative;
      z-index: 2;
    }
  }
}

.hero-title {
  font-family: "Lato", sans-serif !important;
  font-weight: 700 !important;
  // margin-top: 80px;
  font-size: 56px;
}

// .hero-banner {
//   margin-top: 80px;
// }

.hero-big {
  position: relative;
  background: rgb(112, 85, 255);
  background: linear-gradient(140deg,
      rgba(112, 85, 255, 1) 0%,
      rgba(140, 61, 180, 1) 100%);
  padding: 12px 38px;
  border: none;
  border-radius: 4px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  font-size: 22px;
  font-weight: 400;
  color: white;
  margin: 10px 0px 40px 0px;
  z-index: 2;
}

.hero-mid {
  background: rgb(112, 85, 255);
  background: linear-gradient(140deg,
      rgba(112, 85, 255, 0.9) 0%,
      rgba(140, 61, 180, 0.9) 100%);
  padding: 16px 30px;
  border-radius: 4px;
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 400;
  color: white;
  margin: 30px 0px 10px 0px;

  &:hover {
    box-shadow: 0 3px 7px #b7b7b7;
  }
}

.body-container .row {
  padding: 30px 0px;
  margin: 20px auto;
}

.td-navbar {
  .nav-link {
    font-weight: normal !important;
    color: #f4f4f4 !important;
    border-bottom: 1px solid transparent;

    &:hover {
      color: #fff !important;
      border-bottom: 1px solid #e361fd;
    }
  }
}

.td-search-input::placeholder {
  color: #fff !important;
}

.section-title {
  color: #3b3c4c;
  font-weight: 700;
  font-size: 46px;
  margin: 12px 0px;
}

.section-text-bold {
  color: #3b3c4c;
  font-weight: 700;
  margin: 10px 0px;
  font-size: 18px;
  line-height: 1.2;
}

.section-text {
  color: #5a5b75;
  font-weight: 400;
  margin: 10px 0px;
  font-size: 18px;
}

.wide-image {
  // width: 100%;
  margin-left: -15px;
  margin-right: -15px;
}

.big-waves {
  width: 100% !important;
  position: relative;
  top: -40px;
}

.push-up {
  margin-top: -50px;
}

.push-down {
  margin-top: 20px;
}

@media (min-width: 768px) {
  .push-down {
    margin-top: 90px;
  }
}

.center-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.push-up .col-lg-4,
.whats-new .col-lg-4,
.community-cards .card-shadow,
.community-cards.show-desktop .col-lg-6 {
  margin-bottom: 20px;
}

.col-lg-6 {
  margin-bottom: 20px;
}

// .feature-card {
//   padding: 20px;
//   border-radius: 0;
// 	height: 100%;
// 	border: 1px solid #E8E8E8;
//   background-color: #FFFFFF;
// }

// .feature-card .card-header-custom .section-text-bold {
// 	font-size: 20px;
// 	margin: 4px 0 0;
// }

// .feature-card p.section-text {
// 	font-size: 15px;
// }

// .feature-card p:last-child {
// 	margin-bottom: 0;
// }

// .card-header-custom {
//   display: flex;
//   flex-direction: row;
//   align-items: flex-start;
// 	min-height: 58px;
// }

// .card-header-custom img {
//   margin-right: 16px;
// }

// .card-header-custom .section-text-bold {
//   font-size: 18px;
//   color: #3b3c4c;
// }

// .card .section-text {
//   font-size: 14px;
//   color: #5a5b75;
// }

// .info-card {
//   text-align: center;
//   margin: 0px auto 30px auto;
// }

// .info-card .section-text-bold {
//   font-size: 22px;
// }

// .info-card .section-text {
//   font-size: 17px;
// }

// .info-card img {
//   margin: 10px auto;
// }

// .whats-new {
//   background: url("/images/whats-new-bg.webp") no-repeat;
//   background-size: cover;
// 	background-position: 0 -150px;
// }

// .whats-new .section-title {
//   color: white;
//   margin-bottom: 5px;
// 	margin-top: 4rem;
// }

// .whats-new .card-shadow {
//   background-color:white;
//   padding: 30px 15px;
//   min-height: unset;
//   box-shadow: 0 5px 10px 0 rgba(41,26,204,0.12);
//   height: 100%;
//   border-radius:0 8px 8px 0;
// }

// .whats-new .card-shadow:hover {
// 	box-shadow: 5px 10px 30px 0 rgba(41,26,204,0.12);
// }

// .whats-new .card-shadow  button {
// 	padding: 12px 32px !important;
// }

// .whats-new .card-shadow  .section-text {
//   height: 50px;
//   display: -webkit-box;   /* 将对象作为弹性伸缩盒子模型显示 */
//   -webkit-box-orient: vertical;   /* 设置或检索伸缩盒对象的子元素的排列方式 */
//   -webkit-line-clamp: 2;  /* 指定几行 */
//   overflow: hidden;
//   margin: 0 0 10px 0;

// }
// .enterprise-company {
//   background-color: #93939333;
//   transition: .3s background-color ease;
// }

// .enterprise-company:hover {
//   background-color: #c0c0c033;
// }

// .card-hover {
//   transition: .3s background-color ease;
// }

// .card-hover:hover {
//   background-color: #eee;
// }

// .card-badge {
//   background: #f2f0fb;
//   padding: 6px 15px;
//   text-transform: uppercase;
//   border-radius: 5px;
//   color: #5a5b75;
//   font-weight: 400;
//   font-size: 16px;
// }

// .card-shadow .hero-mid {
//   width: 100%;
//   position: relative;
//   bottom: 0px;
// }

// .card-shadow .hero-mid-2 {
//   // width: 100%;
//   position: relative;
//   bottom: 0px;
// }

// .hero-mid-2 {
//   background: white;
//   padding: 12px 22px;
//   border-radius: 4px;
//   border: 1px solid #8147d2;
//   display: flex;
//   flex-direction: row;
//   justify-content: center;
//   align-items: center;
//   font-size: 18px;
//   font-weight: 400;
//   color: #8147d2;
//   margin: 30px 0px 10px 0px;
//   font-weight: 700;

// 	&:hover {
// 		background: #7055ff;
//     background: linear-gradient(140deg, #7055ff 0%, #8c3db4 100%);
// 		color: #fff;
// 		box-shadow: 0 3px 7px #b7b7b7;
// 	}
// }

// .community-cards {
//   background: url("/images/color-bg.webp") no-repeat center;
//   background-size: contain;
// }

// .community-cards .card-shadow {
//   background: white;
//   min-height: 150px;
//   padding: 16px 22px;
// }

// .community-cards .card-header-custom {
//   margin-right: auto;
// 	display: flex;
// 	align-items: center;
// }

// .community-cards .card-header-custom p.section-text-bold {
// 	margin: 0;
// }

// .community-cards .card-shadow img {
//   margin-left: unset;
// }

// .community-cards .card-shadow .section-text {
//   text-align: left;
//   font-size: 14px;
//   margin-top: 4px;
// }

// .community-cards a:hover .card-shadow {
// 	box-shadow: 0 10px 11px rgba(41, 26, 204, .12);
// }

// .text-highlight {
//   color: #8147d2;
// }

// .community-cards .row {
//   padding: 30px 0px;
//   margin: 20px 2px;
// }

// .twitter-card-desktop {
//   position: relative;
//   left: 150px;
//   top: 10px;
// }

// .show-mobile {
//   display: none;
// }

// @media (max-width: 1299px) {
//   .hero {
//     background: url("/images/hero-bg.webp") no-repeat;
//     background-size: cover;
//   }
// }

// @media (max-width: 575px) {
//   .row {
//     display: inherit;
//   }
// }

@media (min-width: 320px) and (max-width: 990px) {

  .show-desktop {
    display: none;
  }

  .show-mobile {
    display: block;
  }

  .hero {
    background: url("/images/hero-bg.webp") no-repeat;
    background-size: cover;
  }

  .hero-section-mobile .hero-title {
    font-size: 39px;
  }

  .show-mobile-margin {
    margin-top: 30px;
  }

  .card {
    min-height: unset;
    padding-bottom: 25px;
  }

  .card-shadow {
    min-height: unset;
    padding-bottom: 25px;
  }

  .whats-new {
    background: url("/images/whats-new-bg.webp") no-repeat;
    background-size: cover;
  }

  .community-cards {
    background: unset;
  }
}

// .feature-section .card {
//   margin-bottom: 26px;
// }

// .feature-section .col-lg-4{
// 	margin-bottom: 25px;
// }

@media (max-width: 480px) {
  .body-container .row {
    padding: 30px 8px;
  }

  .community-cards {
    background: unset;
  }
}

.show-mobile-big {
  display: none;
}

@media (max-width: 767px) {
  .show-mobile-big {
    display: block;
  }

  .show-desktop-big {
    display: none;
  }

  .hero-section-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}

// .hero-section-mobile .show-mobile-big {
//   margin-top: 10px;
// }

// // {{< tabs >}}
// // from https://github.com/alex-shpak/hugo-book
// .hidden {
//   display: none;
// }

// .book-tabs {
// margin-top: 1rem;
// margin-bottom: 1rem;

// border: 1px solid rgba(0, 0, 0, 0.125);
// border-radius:.15rem;

// overflow: hidden;

// display: flex;
// flex-wrap: wrap;

// label {
//   display: inline-block;
//   padding: 0.5rem 1rem;
//   border-bottom: 1px transparent;
//   cursor: pointer;
// }

// .book-tabs-content {
//   order: 999;
//   width: 100%;
//   border-top: 1px solid #f8f9fa;
//   padding: 1rem;
//   display: none;
// }

// input[type="radio"]:checked + label {
//   border-bottom: 2px solid #05b;
// }
// input[type="radio"]:checked + label + .book-tabs-content {
//   display: block;
// }

// .book-tabs-content > .highlight {
//   margin: 0;
// }

// .book-tabs-content > blockquote.notice {
//     padding: 1.2em 0em 1.2em 1em;
//     margin-bottom: 1rem;
//     color: #616161;
//     border-left: 6px solid #2D70DE;
// }

// .book-tabs-content > blockquote.notice.notice.info { border-left-color: #6bf; }
// .book-tabs-content > blockquote.notice.notice.warning { border-left-color: #fd6; }
// .book-tabs-content > blockquote.notice.notice.danger { border-left-color: #f66; }
// }

// a {
//   text-decoration: inherit;
// }

// .post-img {
//   display: block;

//    > p {
//       text-align: center;
//       font-style: italic;
//   }
// }

// .DocSearch-Hit-title mark {
// 	padding: 0;
// }

// .DocSearch-Hit-icon svg {
// 	vertical-align: top;
// }

// .DocSearch-Hits mark {
// 	padding: 0;
// }

// .DocSearch-Hit-content-wrapper {
// 	overflow-y: hidden;
// }

// .hero-desc{
//   margin-top: 20px;
// }
// .whats-new{
//   background: none;
// }
// .whats-new .section-title{
//   color: $font-black-color;
//   margin-top: 0;
//   font-size: 28px;
//   text-align: left;
// }

.container-fluid {
  padding-top: 64px;
  footer {
    min-height: 70px;
    padding-top: 15px !important;
    // padding-bottom: 40px !important;
  }
}


footer .list-inline {
  padding-top: 8px;
}

.DocSearch-Button {
  margin: 0 40px 0 16px !important;
}

// .d-print-none{
//   margin-top: 50px;
//   border-top: 1px solid #5a5b75;
//   padding-top: 10px;
// }
// .card-background{
//   width: 30%;
//   object-fit: cover;
// }

// .card-right{
//   width: 70%;
//   padding-left: 20px;
//   padding-top: 0px;
//   // margin-left: 20px;
//   .section-text-bold{
//     margin: 0px 0 10px 0 !important;
//     min-height: 0 !important;
//   }

//   .hero-mid{
//     margin-top: 20px;
//   }
// }

// // .td-footer .row .d-print-none{
// //   --bs-gutter-x:0 !important;
// // }
// .books{
//   // margin-top: -550px;
// }
// .wave-bg{
//   margin-top: -60px;
//   width: 100%;
//   overflow: hidden;
// }

// .card-tags{
//   // display: flex;
//   .card-badge {
//     display: inline-block;
//     margin-right: 5px;
//     padding: 3px 6px;
//     max-width: 100px;
//     overflow:hidden;
//     white-space: nowrap;
//     text-overflow: ellipsis;
//     font-size: 14px;
//   }
// }
// .card-author{
//   display: flex;
//   align-items: center;
//   font-size: 14px;
//   font-weight: 400;
//   color: rgba(6, 0, 12, 0.5);
//   .author{
//     // padding:0 10px;
//   }
//   .author-logo{
//     display: inline-block;
//     width: 30px;
//     height: 30px;
//     margin-right: 4px;
//     // margin-left: -5px;
//     img{
//       width: 100%;
//       // height: 100%;
//       object-fit: cover;
//       border-radius: 50%;
//       margin: 0;
//     }
//   }
//   .author-desc{
//     margin-left: 10px;
//     padding-left: 10px;
//     border-left:2px solid rgba(59, 7, 110,0.2);
//   }
// }
.join-us {
  background: url(/images/color-bg.webp) no-repeat 50%;
}

// .display-center{
//   margin: 0 auto;
// }
// .td-home{
//   background-color: #f7f7f7;
// }

.body-container {
  margin-left: calc(var(--bs-gutter-x) * -0.5);
  margin-right: calc(var(--bs-gutter-x) * -0.5);
  background: white;
  padding-top: 30px;
}

.page-container {
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  padding-left: 30px;
}

.row-body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 0 0 auto;
  // justify-content: space-between;
}


@media screen and (min-width: 990px) {
  .row-container {
    // flex: 0 0 auto;
    width: 25%;
  }
}

@media screen and (min-width: 768px) and (max-width: 989px) {
  .row-container {
    // flex: 0 0 auto;
    width: 33%;
  }
}

@media screen and (max-width:767px) {
  .row-container {
    // flex: 0 0 auto;
    width: 50%;
  }
}

.row-item {
  position: relative;
  height: 359px;
  max-width: 235px;
  border-radius: 4px;
  // border-left: 2px solid #e1e0e0;
  margin-right: 30px;
  // color: white;
  font-weight: 400;
  transition: all 0.2s ease-in-out;
  // box-shadow: 8px 8px 18px -2px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin-bottom: 60px;
  background-color: #fff;
  // box-shadow: rgba(150, 150, 150, 0.4) 3px 2px,
  //   rgba(150, 150, 150, 0.3) 6px 4px,
  //   rgba(150, 150, 150, 0.2) 9px 6px,
  //   rgba(150, 150, 150, 0.1) 12px 8px,
  //   rgba(150, 150, 150, 0.05) 14px 10px,
  //   rgba(150, 150, 150, 0.05) 16px 11px,
  //   rgba(150, 150, 150, 0.05) 18px 12px;

  box-shadow:
    rgba(150, 150, 150, 0.4) 3px -3px 2px 0px,
    rgba(150, 150, 150, 0.3) 6px -6px 2px 0px,
    rgba(150, 150, 150, 0.2) 9px -9px 2px 0px,
    rgba(150, 150, 150, 0.1) 12px -12px 2px 0px;
    // rgba(150, 150, 150, 0.08) 15px -15px 2px 0px;
    // rgba(150, 150, 150, 0.08) 18px -18px,
    // rgba(150, 150, 150, 0.05) 18px -18px 2px 0px;

  // background: linear-gradient(140deg, #7055ff 0, #8c3db4 100%);
}


.row-item-link {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.card-shadow {
  overflow: hidden;

  box-sizing: content-box;
  text-align: center;
  // width: 100%;
  // max-width: 29px;
}

.card-image-cover {
  width: 100%;
  // width: 96px;
  height: 159px;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  // background:rgba(238,229,245,1);
  // background: linear-gradient(140deg, rgb(139, 117, 247) 0, #a461c5 100%);
}

.card-mid {
  padding: 15px 30px;
  text-align: center;
}

.card-image {
  vertical-align: top;
  // width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.card-title {
  // padding: 0px 18px 5px 18px;
  font-size: 18px;
  font-weight: 800;

  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.card-desc {
  margin-top: 12px;
  // background-color: #121314;
  font-size: 14px;
  overflow: hidden;
  height: 45px;
  // text-align: left;
  color: #858c96;
  // display: flex;
  // align-items: center;
}

.card-desc-content {
  width: 100%;
  // text-align: center;
  overflow: hidden;
  // color: #858c96;

  text-overflow: ellipsis;

  display: -webkit-box;

  -webkit-line-clamp: 2;

  overflow: hidden;

  /*! autoprefixer: off */

  -webkit-box-orient: vertical;
}

.card-bottom {
  padding: 0 30px;
  text-align: left;
  color: #858c96;
}

.card-tags {
  margin-bottom: 12px;
  align-items: center;
  justify-content: left;
  display: flex;
  margin-left: -8px;

  .card-badge {
    z-index: 2;
    display: inline-block;
    padding: 0 8px;

    line-height: 15px;
    // padding: 3px 6px;
    max-width: 100px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;
  }

  .card-badge:not(:last-child) {
    border-right: 2px solid #858c96;
  }

}

.tag-horizontal {
  margin-left: -30px;
  // margin-top: -5px;
  position: absolute;
  background: #e1e0e0;
  padding: 0 5px;
  width: 90%;
  display: flex;
  align-items: center;
  height: 26px;
  color: #fff;
}

.tag-horizontal::after {
  content: "";
  position: absolute;
  left: 100%;
  top: 0;
  border-color: #e1e0e0 transparent #e1e0e0 #e1e0e0;
  ;
  border-width: 13px 13px 13px 0;
  border-style: solid;
}

.author-link {
  position: relative;
  z-index: 3;
}

.card-author {
  // background-color: rgba(21,25,43,1);
  padding-top: 10px;
  display: flex;
  align-items: center;
  justify-content: left;
  // margin-left: -10px;
  font-size: 14px;
  font-weight: 700;
  color: #858c96;

  // color: #000;
  // color: rgba(6, 0, 12, 0.5);
  .author {
    // padding:0 10px;
  }

  .author-logo {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 4px;

    // margin-left: -5px;
    img {
      width: 100%;
      // height: 100%;
      object-fit: cover;
      border-radius: 50%;
      margin: 0;
    }
  }

  .author-desc {
    // margin-top: 3px;
    // margin-left: 3px;
    // padding-left: 10px;
    // font-size: 14px;
    line-height: 15px;

    // border-left: 2px solid rgba(0, 0, 0, 0.6);
  }

}

.root-book-list {
  padding-top: 64px;
}



// authers
.authers {

  .container-fluid {
    padding-right: 0;
    padding-left: 0;
    --bs-gutter-x: 1.5rem;

  }

  .row {
    margin-left: 0;
    margin-right: 0;

  }

  .personal {
    position: relative;
    background: #f6f5ff;
    background-image: url(/images/authors/bg.webp);
    background-size: cover;
    background-position: 50%;
    // background: rgba(255, 255, 255, .7);
    width: 100%;

    margin-top: 64px;

    .backdrop {
      backdrop-filter: blur(3px);
    }

    .info {
      padding: 60px 30px;
      max-width: 1200px;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .name {
        display: flex;
        flex-direction: column;
        align-items: left;
        max-width: 50%;
        color: #fff;
        backdrop-filter: blur(30px);
        background-color: rgba(189, 200, 249, 0.3);
        border-radius: 8px;
        padding: 30px;

        .title {
          font-size: 36px;
          font-weight: 700;
        }
      }

      .personal-logo {
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
          // width: 20%;
          height: 200px;
          object-fit: cover;
          border-radius: 50% 50%;
          margin-bottom: 30px;
        }

        .big-icon {
          font-size: 2rem;
          margin-left: 10px;
          color: white;
        }
      }
    }

  }
  .content{
    margin:50px auto;
    padding: 30px 30px;
    border-radius: 30px;
    max-width: 1200px;
  background-color: rgb(237, 237, 237);

  }
.interests-education{
  
  // margin: 0 auto;
  display: flex;
  align-items:stretch;
  justify-content: space-around;
  
  .interests {
    .interest{
      margin-top: 10px;
    }
  }
  .education{
    .course-info{
      margin-top: 10px;
    }
  }
  .info{

    width: 49%;
    // height: ;

    font-size: 20px;
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;

    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    
    :first-child{
      margin-right: 2%;
    }
    .title{
      font-size: 30px;
      font-weight: 700;
    }
  }
}
.md-content{
  margin-top: 60px;
  padding: 30px;
  border-top:2px solid rgba(0,0,0,0.6) ;
}

}
.book-item {
 position: relative;
  border-bottom: 1px solid rgba(0,0,0,.06);
  box-sizing: border-box;
  text-align: left;
  cursor: pointer;
  min-height: 156px;
  padding: 20px 16px;
  &:hover {
    background: #f8f9fa;
  }
  .book-shadow {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    .left-box {
      width: 115px;
      height: 115px;
      margin-right: 25px;
      img {
        width: 100%;
        height: 100%;
        align-self: center;
        border-radius: 8px;
        flex-shrink: 0;
        object-fit: cover;
      }
    }
    .right-box {
      flex:1;
      overflow: hidden;
      .book-mid {
        .book-title {
          color: #2f3034;
         
          font-size: 18px;
          line-height: 25px;
          margin-bottom: 6px;
          padding-right: 100px;

          .book-auther {
            display: flex;
            flex-wrap: nowrap;
            color: #8b8e9d;
            font-size: 12px;
            line-height: 18px;
            margin-bottom: 10px;
            .book-tags {
              margin-left: 20px;
            }
          }
         
        }
        .book-desc {
          color: #5a5c66;
          font-size: 14px;
          line-height: 20px;
          overflow: hidden;
        }
      }
    }
  }
  
}
.ellipsis-2 {
  width:100%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}
.books {
  .tags-box {
    background: #fff;
    border: 1px solid #ecf0f5;
    box-shadow: 0 10px 24px 0 rgba(90,92,102,.06);
    box-sizing: border-box;
    font-family: PingFangSC-Medium;
    height: -moz-fit-content;
    height: fit-content;
    line-height: 18px;
    margin-bottom: 30px;
    padding: 16px 24px 6px;
    position: relative;
    width: 100%;

    .tag-list {
      list-style: none;
      padding: 0;
      margin:0;
      .tag-item {
        cursor: pointer;
        display: inline-block;
        height: 32px;
        line-height: 32px;
        margin-bottom: 6px;
        margin-right: 10px;
        overflow: hidden;
        text-align: center;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 72px;
        border-radius: 6px;
        color: #5a5c66;
        font-size: 14px;
        &:hover{
          background-color: #f8f9fa;
        }
        &.active {
          background: #16b998;
          color: #fff;
        }
      }

    }
  }

}
.relative {
  position: relative;
}
.absolute-right {
 position:  absolute;
 top: 0;
 right: 0;
}
.taxo-author {
  font-weight: 500;
}
.book-image {
  width: 200px;
  height: auto;
}