<!-- 评论系统 -->
<div class="page-blank">
    <div id="disqus_thread"></div>
    <div id="git-comments"></div>
    <script src="https://cdn.jsdelivr.net/gh/theme-next/theme-next-gitment@1/gitment.browser.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/theme-next/theme-next-gitment@1/default.css"/>
    <script>
        var gitment = new Gitment({
            id: '{{ .Page.Title }}',  // 可选, 默认为 location.href
            owner: '{{.Site.Params.gitment.owner}}',
            repo: '{{.Site.Params.gitment.repo}}',
            oauth: {
                client_id: '{{.Site.Params.gitment.client_id}}',
                client_secret: '{{.Site.Params.gitment.client_secret}}',
            }
        })
        gitment.render('git-comments')
    </script>
</div>